# Environment and package folders
node_modules/
.env

# Python dependencies
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
hw3.2_mysql_schema_script.txt
# Node.js dependencies
npm-debug.log
yarn-error.log
.pnpm-debug.log

# Misc
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# keys
privkey.pem
fullchain.pem